<!doctype html>
<style>
   td, th {
        width: 75;
        height: 50;
        padding: 15px;
        border-bottom: 1px solid rgb(0, 0, 0);
        box-sizing: border-box;
        font-family: serif;
      }
</style>
<html>
   <title>Lukuvinkit</title>
   <body>
      <h2>Lukuvinkit:</h2>
      <h3>Kirjavinkit</h3>
      <table style="border-style: solid; border-color: black;">
         <thead>
            <th style="background-color: darkgrey;">Otsikko</th>
            <th style="background-color: darkgrey;">Kirjoittaja</th>
            <th style="background-color: darkgrey;">ISBN</th>
            <th style="background-color: darkgrey;">Kommentti</th>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row.otsikko}}</td>
               <td>{{row.kirjoittaja}}</td>
               <td>{{row.isbn}}</td>
               <td>{{row.kommentti}}</td>	
            </tr>
         {% endfor %}
      </table>
      <br>
      <a href = "/">Go back to home page</a>
      
   </body>
</html>
