<!doctype html>
<html>
    <title>Uusi kirjavinkki</title>
   <body>
      <h2>Etsi kirjaa ISBN:n perusteella:</h2>
      <form action="/isbn_search" method="POST">
         <p>ISBN:<br>
         <input type="text" name="book_isbn" size="30" maxlength="17"></p>
         <input type="submit" value="Etsi">
      </form>
      <h2>Lisää uusi kirjavinkki</h2>
      <form action="/new_book" method="POST">
      <p>Otsikko:<br>
      <input type="text" name="otsikko" size="30"></p>
      <p>Kirjoittaja:<br>
      <input type="text" name="kirjoittaja" size="30"></p>
      <p>isbn:<br>
      <input type="text" name="isbn" size="30"></p>
      <p>Kommentti</p>
      <textarea name="kommentti" rows="5" cols="40"></textarea> <br>
      <input type="submit" value="Luo vinkki">
      </form>
      <br>
      <a href = "/">Go back to home page</a>
   </body>
</html>
