<!doctype html>
<html>
    <title>Uusi videovinkki</title>
   <body>
      <h2>Lisää uusi videovinkki</h2>
      <form action="/new_video" method="POST">
      <p>Nimi:<br>
      <input type="text" name="nimi" size="30"></p>
      <p>Tekijä:<br>
      <input type="text" name="tekija" size="30"></p>
      <p>URL:<br>
      <input type="text" name="url" size="30"></p>
      <p>Kommentti</p>
      <textarea name="kommentti" rows="5" cols="40"></textarea> <br>
      <input type="submit" value="Luo vinkki">
      </form>
      <br>
      <a href = "/">Go back to home page</a>
   </body>
</html>
