name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Poetry
        run: pip install poetry
      - name: Install dependencies
        run: poetry install
      - name: Create test .env file
        run:  |
          touch .env
          echo SECRET_KEY = asd >> .env
      - name: Run robot tests
        run: bash run_robot_tests.sh
      - name: Run unit tests
        run: poetry run coverage run --branch -m pytest src/tests
      - name: Coverage report
        run: poetry run coverage xml
      - name: Coverage report to Codecov
        run: bash <(curl -s https://codecov.io/bash)
      - name: Run lint
        run: poetry run pylint src

             
        

